In [35]:
import numpy as np
import pandas as pd
KSProject = r'C:\Users\TASHA\Desktop\ks-projects-201801.csv'
data = pd.read_csv(KSProject)
print(data)

                ID                                               name  \
0       1000002330                    The Songs of Adelaide & Abullah
1       1000003930      Greeting From Earth: ZGAC Arts Capsule For ET
2       1000004038                                     Where is Hank?
3       1000007540  ToshiCapital Rekordz Needs Help to Complete Album
4       1000011046  Community Film Project: The Art of Neighborhoo...
...            ...                                                ...
378656   999976400  ChknTruk Nationwide Charity Drive 2014 (Canceled)
378657   999977640                                          The Tribe
378658   999986353  Walls of Remedy- New lesbian Romantic Comedy f...
378659   999987933                           BioDefense Education Kit
378660   999988282                  Nou Renmen Ayiti!  We Love Haiti!

               category main_category currency    deadline     goal  \
0                Poetry    Publishing      GBP   10/9/2015   1000.0
1        Narrative Film  Film & Video      USD   11/1/2017  30000.0
2        Narrative Film  Film & Video      USD   2/26/2013  45000.0
3                 Music         Music      USD   4/16/2012   5000.0
4          Film & Video  Film & Video      USD   8/29/2015  19500.0
...                 ...           ...      ...         ...      ...
378656      Documentary  Film & Video      USD  10/17/2014  50000.0
378657   Narrative Film  Film & Video      USD   7/19/2011   1500.0
378658   Narrative Film  Film & Video      USD   8/16/2010  15000.0
378659       Technology    Technology      USD   2/13/2016  15000.0
378660  Performance Art           Art      USD   8/16/2011   2000.0

               launched  pledged     state  backers country  usd pledged  \
0       8/11/2015 12:12      0.0    failed        0      GB          0.0
1         9/2/2017 4:43   2421.0    failed       15      US        100.0
2        1/12/2013 0:20    220.0    failed        3      US        220.0
3        3/17/2012 3:24      1.0    failed        1      US          1.0
4         7/4/2015 8:35   1283.0  canceled       14      US       1283.0
...                 ...      ...       ...      ...     ...          ...
378656   9/17/2014 2:35     25.0  canceled        1      US         25.0
378657   6/22/2011 3:35    155.0    failed        5      US        155.0
378658   7/1/2010 19:40     20.0    failed        1      US         20.0
378659  1/13/2016 18:13    200.0    failed        6      US        200.0
378660   7/19/2011 9:07    524.0    failed       17      US        524.0

        usd_pledged_real  usd_goal_real
0                    0.0        1533.95
1                 2421.0       30000.00
2                  220.0       45000.00
3                    1.0        5000.00
4                 1283.0       19500.00
...                  ...            ...
378656              25.0       50000.00
378657             155.0        1500.00
378658              20.0       15000.00
378659             200.0       15000.00
378660             524.0        2000.00

[378661 rows x 15 columns]

In [39]:
data.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015,1000.0,8/11/2015 12:12,0.0,failed,0,GB,0.0,0.0,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,11/1/2017,30000.0,9/2/2017 4:43,2421.0,failed,15,US,100.0,2421.0,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013,45000.0,1/12/2013 0:20,220.0,failed,3,US,220.0,220.0,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012,5000.0,3/17/2012 3:24,1.0,failed,1,US,1.0,1.0,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015,19500.0,7/4/2015 8:35,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [46]:
dataset = data.iloc[:, [1, 8]]
print(dataset)

                   category     state
ID
1000002330           Poetry    failed
1000003930   Narrative Film    failed
1000004038   Narrative Film    failed
1000007540            Music    failed
1000011046     Film & Video  canceled
...                     ...       ...
999976400       Documentary  canceled
999977640    Narrative Film    failed
999986353    Narrative Film    failed
999987933        Technology    failed
999988282   Performance Art    failed

[378661 rows x 2 columns]

In [50]:
 dataset['category'].value_counts('state'=='failed')

Product Design     22314
Documentary        16139
Music              15727
Tabletop Games     14180
Shorts             12357
                   ...
Residencies           69
Letterpress           49
Chiptune              35
Literary Spaces       27
Taxidermy             13
Name: category, Length: 159, dtype: int64

In [53]:
dataset2 = data.iloc[:, [3, 7, 8]]
print(dataset2)

           currency  pledged     state
ID
1000002330      GBP      0.0    failed
1000003930      USD   2421.0    failed
1000004038      USD    220.0    failed
1000007540      USD      1.0    failed
1000011046      USD   1283.0  canceled
...             ...      ...       ...
999976400       USD     25.0  canceled
999977640       USD    155.0    failed
999986353       USD     20.0    failed
999987933       USD    200.0    failed
999988282       USD    524.0    failed

[378661 rows x 3 columns]

In [55]:
subdataset2 = dataset2[dataset2['state']=='successful']
print(subdataset2)

           currency   pledged       state
ID
1000014025      USD  52375.00  successful
1000023410      USD   1205.00  successful
100005484       USD  12700.00  successful
1000057089      GBP  94175.00  successful
1000070642      USD    250.00  successful
...             ...       ...         ...
999929142       EUR   1246.00  successful
999934908       USD   6169.00  successful
999943841       USD   1732.02  successful
999969812       CAD   5501.00  successful
999971898       NOK  21500.00  successful

[133956 rows x 3 columns]

In [57]:
subdataset2.groupby('currency') ['pledged'].mean()

currency
AUD     23838.241512
CAD     22943.676425
CHF     59409.893957
DKK    120417.841713
EUR     29285.205299
GBP     11425.423845
HKD    312160.410185
JPY    602579.428571
MXN     93042.759242
NOK    106935.703006
NZD     20506.494196
SEK    190524.241139
SGD     37534.728427
USD     23224.491061
Name: pledged, dtype: float64

In [58]:
sub2dataset2 = dataset2[dataset2['state']=='failed']
print(sub2dataset2)

           currency  pledged   state
ID
1000002330      GBP      0.0  failed
1000003930      USD   2421.0  failed
1000004038      USD    220.0  failed
1000007540      USD      1.0  failed
1000030581      USD    453.0  failed
...             ...      ...     ...
999975836       USD    154.0  failed
999977640       USD    155.0  failed
999986353       USD     20.0  failed
999987933       USD    200.0  failed
999988282       USD    524.0  failed

[197719 rows x 3 columns]

In [59]:
sub2dataset2.groupby('currency') ['pledged'].mean()

currency
AUD      1463.513525
CAD      1366.933904
CHF      2357.404753
DKK      6696.072557
EUR      1226.068236
GBP       938.623944
HKD     15174.159119
JPY    337740.625000
MXN      5236.850463
NOK      7008.694038
NZD      1514.417554
SEK      8078.665954
SGD      2279.094746
USD      1330.723810
Name: pledged, dtype: float64

In [62]:
data['launched'].value_counts('state'=='failed')

6/20/2017 16:00     15
11/13/2013 0:02      8
11/1/2016 16:00      8
10/4/2016 18:00      7
7/11/2014 21:15      7
                    ..
11/22/2012 18:05     1
10/26/2010 6:09      1
9/13/2012 22:55      1
6/30/2013 3:23       1
2/2/2014 7:45        1
Name: launched, Length: 347035, dtype: int64

In [64]:
data.nunique().drop_duplicates

<bound method Series.drop_duplicates of name                375722
category               159
main_category           15
currency                14
deadline              3164
goal                  8353
launched            347035
pledged              62130
state                    6
backers               3963
country                 23
usd pledged          95455
usd_pledged_real    106065
usd_goal_real        50339
dtype: int64>