In [44]:
import pandas as pd
url = 'https://think.cs.vt.edu/corgis/datasets/json/airlines/airlines.json'
pd.read_json(url).head()

,Airport,Time,Statistics
0,"{'Code': 'ATL', 'Name': 'Atlanta, GA: Hartsfie...","{'Label': '2003/06', 'Month': 6, 'Month Name':...","{'# of Delays': {'Carrier': 1009, 'Late Aircra..."
1,"{'Code': 'BOS', 'Name': 'Boston, MA: Logan Int...","{'Label': '2003/06', 'Month': 6, 'Month Name':...","{'# of Delays': {'Carrier': 374, 'Late Aircraf..."
2,"{'Code': 'BWI', 'Name': 'Baltimore, MD: Baltim...","{'Label': '2003/06', 'Month': 6, 'Month Name':...","{'# of Delays': {'Carrier': 296, 'Late Aircraf..."
3,"{'Code': 'CLT', 'Name': 'Charlotte, NC: Charlo...","{'Label': '2003/06', 'Month': 6, 'Month Name':...","{'# of Delays': {'Carrier': 300, 'Late Aircraf..."
4,"{'Code': 'DCA', 'Name': 'Washington, DC: Ronal...","{'Label': '2003/06', 'Month': 6, 'Month Name':...","{'# of Delays': {'Carrier': 283, 'Late Aircraf..."

In [49]:
import requests
from pandas import json_normalize
datafile = requests.get(url=url)
df = json_normalize(datafile.json())
df.head()

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,1009,1275,3217,17,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003/06,6,June,2003,296,477,389,8,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003/06,6,June,2003,300,472,735,2,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003/06,6,June,2003,283,268,487,4,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141

In [81]:
df.sort_values('Statistics.Flights.Delayed', ascending=False).head(5)

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
725,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2005/07,7,July,2005,1961,2557,8704,14,...,13699,334,21758,37584,156293,219063,574857,678,989367,38476
1160,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2006/10,10,October,2006,2281,3267,7054,13,...,13124,24,20777,34692,159670,193311,353883,398,744230,36968
223,ORD,"Chicago, IL: Chicago O'Hare International",2004/01,1,January,2004,1248,2501,8999,9,...,13072,52,16939,32715,91650,196186,602479,307,915637,25015
754,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2005/08,8,August,2005,1916,2113,8440,11,...,12861,236,22949,37886,140274,154147,487160,459,810633,28593
1586,ORD,"Chicago, IL: Chicago O'Hare International",2007/12,12,December,2007,1821,4247,6193,18,...,12652,78,14206,30253,134573,345456,464970,566,982876,37311

In [82]:
df.sort_values('Statistics.# of Delays.Security', ascending=False).head(1)

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
1108,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",2006/08,8,August,2006,1041,1772,1555,94,...,4699,178,20796,26194,72836,105439,66298,3528,265083,16982

In [83]:
df.sort_values('Statistics.Flights.Delayed', ascending=True).head(5)

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
2254,PDX,"Portland, OR: Portland International",2009/11,11,November,2009,112,90,68,2,...,283,1,3690,3982,6526,5121,2244,37,14752,824
4389,IAD,"Washington, DC: Washington Dulles International",2016/01,1,January,2016,120,86,70,0,...,285,3,2003,2533,6576,5453,2309,0,14972,634
4331,IAD,"Washington, DC: Washington Dulles International",2015/11,11,November,2015,134,106,65,1,...,320,1,2351,2684,8017,9193,2183,36,20330,901
4302,IAD,"Washington, DC: Washington Dulles International",2015/10,10,October,2015,140,102,100,0,...,352,2,2639,3000,7885,6417,3877,0,18872,693
2196,PDX,"Portland, OR: Portland International",2009/09,9,September,2009,117,153,97,1,...,373,3,3883,4266,6297,7627,2826,21,17519,748